

/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Loading style
	/* -------------------------------------------------- */
	html,body{overflow:hidden}
	#footer{
		width:100%;
		text-align:center;
		height:40px;
		left:0px;
		line-height:40px;
		position:fixed;
		bottom:0px;
	}
	.row-fluid{padding-bottom:40px}
	.loading-mask {
		position: absolute;
		background-color: whiteSmoke;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2000;
	}
	
	.loading-mask .brand {
		position: absolute;
		width: 100%;
		bottom: 20px;
	}
	
	.loading-mask .loading-zone {
		width: 100%;
		max-width: 300px;
		margin: 100px auto;
	}
	
	.loading-mask .loading-zone .progress {
		height: 13px;
	}
	
	.loading-mask .loading-zone .text {
		text-align: center;
		margin: 5px auto;
	}

	/* -------------------------------------------------- */
	/*	Bootstrap responsive style
	/* -------------------------------------------------- */

	
	
	table, tbody, tfoot, thead, tr, th, td{
		border: 1px solid #dddddd;
	}
	.sidebar-nav {
		padding: 9px 0;
	}
	
	@media (max-width: 980px) {
		/* Enable use of floated navbar text */
		.navbar-text.pull-right {
			float: none;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	/* -------------------------------------------------- */
	/*	File upload
	/* -------------------------------------------------- */
	.fileinput-button {
		position: relative;
		overflow: hidden;
		float: left;
		margin-right: 4px;
	}
	.fileinput-button input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translate(-300px, 0) scale(4);
		font-size: 23px;
		direction: ltr;
		cursor: pointer;
	}
	
	/* -------------------------------------------------- */
	/*	左侧标题
	/* -------------------------------------------------- */
	
	.navbar .brand {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		width:100px;
		margin:0px;
		color:#FFF;
		display:none;
	}
	
	/* -------------------------------------------------- */
	/*	Search & Highlight
	/* -------------------------------------------------- */
	.highlight {
		background-color: #FFFF88;
	}
	.highlight-selected {
		background-color: darkorange;
	}

	/* -------------------------------------------------- */
	/*	Word Style
	/* -------------------------------------------------- */

	.word-body, .ppt-body {
		background-color:#EBEBEB;
		min-height: 100%;
		-webkit-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}

	.word-body table {
		width: auto !important;
	}

	.word-page{
		line-height: normal;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
		max-width: 795px;
		background-color:#FFF;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-moz-box-shadow: 0 0 10px 5px #888;
		-webkit-box-shadow: 0 0 10px 5px #888;
		box-shadow: 0 0 10px 5px #888;
	}
	
	.word-page .word-content {
		position: relative;
		background-color:#FFF;
		max-width: 75%;
		word-wrap: break-word;
		word-break: break-all;
		margin: 0px auto;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
	.doc-page .doc-content p{
		word-wrap:break-word;
		word-break:normal;
		margin: 0px;
	}





	/* -------------------------------------------------- */
	/*	Table Style
	/* -------------------------------------------------- */

	table {
		border-collapse: collapse;
		word-wrap: break-word;
		margin: 0px auto;
	}
	
	
	/*
	table, tbody, tfoot, thead, tr, th, td {
		border: 1px solid #dddddd !important;
	}
	*/

	
	/* -------------------------------------------------- */
	/*	Footer
	/* -------------------------------------------------- */
	footer {
		text-align: center;
	}
	
	/* -------------------------------------------------- */
	/*	Bottom paging progress
	/* -------------------------------------------------- */
	.bottom-paging-progress {
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0px;
		margin: 0px auto;
		height: 3px;
	}
	
	.paging-bottom-all {
		border-top: 1px solid #d8d8d8;
		height: 20px;
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		cursor: pointer;
	}
	.paging-bottom-sub {
		float: left;
		display: inline-block;
		text-align: center;
		height: 20px;
		font-weight: bold;
		color: green;
	}
	.container-fluid-content {
		padding-left: 0px;
		padding-right: 0px;
		overflow:auto;
		position:absolute;
		top:60px;
		left:0px;
	}
	
	/* -------------------------------------------------- */
	/*	Mobile css
	/* -------------------------------------------------- */
	@media (max-width: 767px) {
		.word-body {
			padding-top: 40px;
		}
		.word-page .word-content {
			max-width: 85%;
		}
		/* 取消手机端Word预览左右边距 */	
		
		.word-body, .ppt-body, .pdf-body {
			background-color:#FFF;
		}
		.word-page{
			-moz-box-shadow: 0 0 10px 5px #FFF;
			-webkit-box-shadow: 0 0 0px 0px #FFF;
			box-shadow: 0 0 0px 0px #FFF;
		}
		
		.pdf-body {
			padding-top: 50px;
		}
		.pdf-body .container-fluid-content {
		    padding-left: 0px;
			padding-right: 0px;
		}
		.span12, .row-fluid .span12{
		 padding: 0 !important;
		   width: 100% !important; 
		}
	}
	@media (max-width: 979px) {
	 .navbar-fixed-top, .navbar-fixed-bottom{
	    position:fixed;
		margin:0px;
		overflow-y:auto;
	 }
	 
	 .navbar .brand {
	    padding-left: 25px;
	 }
	 .span12, .row-fluid .span12{
	      padding: 0 !important;
		  width: 100% !important; 
		}
		
		 
	}
	/*sheet表左右切换按钮*/
	.right {
    display: block;
    line-height: 40px;
    color: #000;
    float: left;
    margin-right: 20px;
}
.left {
    display: block;
    line-height: 40px;
    color: #000;
    float: left;
    margin: 0px;
	margin-right: 20px;
}
.left a,.right a{
	text-decoration:none;
	color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	}
.left a:hover,.right a:hover{
	color: #fff;
}
/*导航栏固定高度*/
.navbar .nav{height:40px}
/*ul字符超出溢出隐藏*/
.excel-tab-title {
    overflow: hidden;
}
#btnPrint{
	float:right;
	margin-right:30px;
    padding: 10px;
	
}
@media (max-width: 979px){
	.navbar .nav{height:auto}	
	.left,.right{display:none}
	.navbar .brand{display:block}
}

